*{
	padding: 0%;
	margin: 0%;
}
body{
	font-family: 'Poppins', sans-serif !important;
	background-color: #0f0f0f!important;
	
}
/*navbar*/
.navbar{
}
.navbar-brand, .nav-link{
	color: white !important;
	font-size: 1rem !important;
}
.nav-link{
	font-weight: 400 !important;
	font-size: 0.875rem !important;
	opacity: 0.8;
}
.nav-link:hover{
	opacity:1;
}
.stick_nav:hover{
	color:  #FFA322 !important;
	opacity: 0.8;
}
#nav_a{
	font-weight: 700 !important;
}
.navbar-brand img{
	width: 50px;
}
.navbar-toggler{
	border-color: transparent;
}
.dropdown-menu{
	background-color: #3c3c3c!important;
	border-radius: 0px !important;
	border: none!important;
}
.dropdown-item{
	font-size: 0.8rem  !important;
	color: white !important;
	font-weight: 300!important;
	opacity: 0.6;
}
.dropdown-item:hover{
	background-color:  #4d4d4d!important;
	opacity: 1;
}
.display-5{
	color: white !important;
}


/*form*/
.body{
	width: 100%;
	left: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: block;
	position: absolute;
	transform: translateX(-50%);
	background-image: url('home_bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
}
.body .form{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.body h1{
	font-weight: 400;
	text-align: center;
	display: block;
	color: white;
}
.body p{
	color: #eaeaea;
	text-align: center;
}
.body form{
	width: 30%;
	background-color: rgba(255,255,255,0.9);
	padding: 2.5%;
	margin-right: 10%;
}
.body form label{
	text-align: left;
	font-size: 14px;
}
.body form h2{
	color: #0f0f0f;
	margin-bottom: 4%;
	font-size: 25px;
	font-weight: 700;
}
.body input[type=text], input[type=email], textarea{
	font-family: 'Poppins';
	padding: 2.5% 2.5% 1.5%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #535353;
}
.body #name{
	width: 50%;
	margin-right: 8%;
}
.body #last_name{
	width: 35%;
}
.body form ::placeholder{
	color: #535353;
}
.body #email{
	width: 95%;
	margin-top: 5%;
}
.body textarea{
	width: 95%;
	margin-top: 5%;
}
.body input[type=submit]{
	width: 25%;
	border: none;
	margin-top: 5%;
	padding: 3.5% 7%;
	background-color: #042134;
	color: white;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
}
.basic_info{
	display: flex;
	align-items: center;
	margin: 0% 7% 7%;
	font-size: 14px;
}
.basic_info img{
	width: 50px;
	padding: 5%;
	background-color: white;
	border-radius: 50%;
	margin-right: 5%;
	float: left;
	display: block;
}
.basic_info p{
	text-align: left;
	
}
.basic_info strong{
	color: #ffa322;
	font-size: 16px;
	line-height: 1.5;
}
