*{
	padding: 0%;
	margin: 0%;
}
body{
	font-family: 'Poppins', sans-serif !important;
	background-color: #0f0f0f !important;
	overflow-x: hidden;
}
.header_bg{
	background-size: cover;
	min-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
}
.linear{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 61.71%, #0F0F0F 100.64%);
	min-height: 100vh;
	z-index: 1;
	width: 100%;
	position: absolute;
}

/*.row1{
	position: fixed;
	display: flex;
	align-items: center;
	justify-items: center;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
}
.row1 .column{
	width: 75px;
	height: 100vh;
	margin: 0px 10px;
	background-color: rgba(0,255,133,.1)
}*/


/*navbar*/
.navbar{
	z-index: 2;
}
.navbar-brand, .nav-link{
	color: white !important;
}
.nav-link{
	font-weight: 400 !important;
	font-size: 0.875rem !important;
	opacity: 0.8;
}
.nav-link:hover{
	opacity: 1;
}
#nav_a{
	font-weight: 700 !important;
}
.navbar-brand img{
	width: 50px;
}
.navbar-toggler{
	border-color: transparent;
}
.dropdown-menu{
	background-color: #3c3c3c!important;
	border-radius: 0px !important;
	border: none!important;
}
.dropdown-item{
	font-size: 0.8rem  !important;
	color: white !important;
	font-weight: 300!important;
	opacity: 0.6;
}
.dropdown-item:hover{
	background-color:  #4d4d4d!important;
	opacity: 1;
}

@media (max-width: 1024px){
	.header_bg{
		min-height: 75vh;
	}
	.navbar .navbar-brand a{
		font-size: calc(1rem + 3.3vw);
	}
	.linear{
		min-height: 75vh;
	}
}
@media (max-width: 576px){
	.header_bg{
		min-height: 50vh;
	}
	.navbar .navbar-brand a{
		font-size: calc(0.5rem + 3.3vw);
	}
	.linear{
		min-height: 50vh;
	}
}


/*hero*/
.title{
	height: 60vh;
}
.display-2{
	font-size: 7rem;
	font-weight: 400;
	line-height: 6rem;
	color: white;
	position: relative
}
.p_sub p{
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #FFA322;
	position: relative;
	
}
@media (max-width: 1024px){
	.title h1{
		font-size: 5rem;
		line-height: 4rem;
		top: calc(50% - 330px/4 + 38px);
		left: calc(50% - 481px/2 + 38px - 127.5px);
	}
	.sub{
		bottom: 78px;
	}
	.p_sub{
		font-size: 14px;
		line-height: 18px;
	}
}

/*Art*/
.p1{
	font-size: 18px;
	line-height: 27px;
	text-align: right;
	color: #d0d0d0;
	font-weight: 300;
	opacity: 0.9;
	font-style: italic;
}
.p2{
	font-size: 14px;
	line-height: 23px;
	color: #d0d0d0;
	font-weight: 300;
	font-style: italic;
}
.p3{
	font-size: 18px;
	line-height: 25px;
	color: #eaeaea;
	font-weight: 300;
}
.highlight{
	color: #FFA322;
}
.display-2{
	font-size: 3.7rem !important;
	line-height: 4.375rem !important;
	color: white;
	text-align: right;
}

/*Literature*/
.passive_h{
	font-size: 1.25rem;
	line-height: 1.875rem;
	color: #272727;
	font-weight: 600;
	font-style: italic;
	opacity: 0.5;
}
.passive_t{
	font-size: 0.9rem;
	line-height: 1.20rem;
	color: #242424;
	font-style: italic;
	font-weight: 600;
	opacity: 0.5;
}
.passive_p{
	font-size: 0.75rem;
	line-height: 1.125rem;
	color: #303030;
	font-style: italic;
	font-weight: 300;
	text-align: justify;
	opacity: 0.5;
}
.desc{
	font-size: 1rem;
	line-height: 1.563rem;
	color: #d0d0d0;
}