
body{
	font-family: 'Poppins', sans-serif !important;
	background-color: #0f0f0f !important;
}
.side_nav{
	background-color: #202020;
	height: 100vh;
}
.navbar-nav{
	color: white;
	z-index: 2;
}
.nav_side .nav-item{
	 -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */
}
.nav_side .nav-link{
	font-weight: 300 !important;
	font-size: 0.7rem !important;
	letter-spacing: 1px;
	opacity: 0.7;
}
.nav_side .nav-link:hover {
	color: #FFA322 !important;
}
.side_nav img{
	border-radius: 50%;
}
/*nav bar*/
#holder .navbar{
}
#holder .navbar-brand, .nav-link{
	color: white !important;
	font-size: 1rem !important;
}
#holder .nav-link{
	font-weight: 400 !important;
	font-size: 0.875rem !important;
	opacity: 0.8;
}
#holder .nav-link:hover{
	opacity:1;
}
#holder .stick_nav:hover{
	color:  #FFA322 !important;
	opacity: 0.8;
}
#holder #nav_a{
	font-weight: 700 !important;
}
#holder .navbar-brand img{
	width: 50px;
}
#holder .navbar-toggler{
	border-color: transparent;
}
#holder .dropdown-menu{
	background-color: #3c3c3c!important;
	border-radius: 0px !important;
	border: none!important;
}
#holder .dropdown-item{
	font-size: 0.8rem  !important;
	color: white !important;
	font-weight: 300!important;
	opacity: 0.6;
}
#holder .dropdown-item:hover{
	background-color:  #4d4d4d!important;
	opacity: 1;
}


/*content*/
.holder_content{
	scroll-behavior: smooth;
}
.sub{
	font-size: 0.8rem;
	color: #a0a0a0;
	font-weight: 300;
	letter-spacing: 1px;	
}
.head{
	font-size: 3.75rem !important;
	line-height: 3.75rem !important;
	font-family: 'Baskerville',serif;
	color: white;
}
.deet1{
	font-size: 0.9rem;
	color: #FFA322;
	font-weight: 300;
	line-height: 0.3rem;
}
.deet2{
	font-style: italic;
	font-size: 0.8rem;
	line-height: 0rem;
	color: white;
	font-weight: 300;
	opacity: 0.8;
}
.desc{
	font-size: 0.9rem;
	color: #d0d0d0;
	line-height: 1.563rem;
	font-weight: 300 !important;
}
.h{
	height: 40vh;
	object-fit: cover;
}